html, body {
 	margin: 0;
 	padding: 0;
  	width: 100%;
  	height: 100%;
}


:root {
	--colorBackground: #30121f; 
	--colorBackgroundAccent: #422222; 
	--colorBackgroundOpacity: #30121fb7; 
	--colorBackgroundAccentOpacity: #422222b7; 

  	--colorMain: #da872f; 
	--colorMainHighlight: #da872f; 

  	--colorSecond: #da872f;
	--colorThird: #da872f;
	--colorFourth: #da872f;

	--colorText: #e3e6c5;

	--colorFooter: #06020c;

	--angleGradient: 5deg;
}

@font-face {
  font-family: 'BBH';
  src: url('font/BBH_Sans_Hegarty/BBHSansHegarty-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'appleGarmond';
  src: url('font/apple_garamond/AppleGaramond-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto/Roboto-VariableFont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Earthbound';
  src: url('font/earthbound/earthbound.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GameBoy';
  src: url('font/Gameboy/GameBoy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
	margin: 0px;
	background-color: #30121f; /* #351d1b */
	background-image: url(img/UI/BACKGROUND.gif);
	overflow-x: hidden;
	/* font-family: BBH, sans-serif; */

	opacity: 1;                  /* default: visible */
  	transition: opacity 2s ease; /* fade duration */
}

body.fade-in {
  	opacity: 0;                  /* start invisible */
}






h1, h2, h3, h4, h5, h6 {
	font-family: BBH;
	margin: 0;
	padding: 0;
}

p, a {
	text-align: justify;
	font-family: Roboto;
	margin: 0;
}

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

section {
 	width: 100%;
	min-height: 100vh;

	background: linear-gradient(var(--angleGradient),
		var(--colorBackgroundOpacity),
		var(--colorBackgroundOpacity),
		var(--colorBackgroundAccentOpacity),
		var(--colorBackgroundOpacity),
		var(--colorBackgroundOpacity)
	);
	backdrop-filter: blur(5px);
}






button {
	color: var(--colorMain);
	background-color: transparent;
	border: 2px solid var(--colorMain);
	font-family: Roboto;
  	padding: 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	margin: 4px 2px;
  	cursor: pointer;
  	border-radius: 30px;
	transition: 0.2s;
}


button:hover {
	/* color: var(--colorBackground); */
	color: transparent;
  	background-color: var(--colorText);
  	border: 2px solid var(--colorText);
}

button:hover p {
	/* color: var(--colorBackground); */
	color: transparent;
}




/* ------------------------------------- */







/* HEADER */

header {
	position: absolute;
	top: 0;
	z-index: 500;

	/* background-color: rgba(13, 13, 13, 0); #0d0d0d */
	/* box-shadow: 0px 10px 10px rgba(13, 13, 13, 0); */
	padding: 2vh;
	width: 100%;
	height: 7vh;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.socialLogos img{
	vertical-align: middle;
	margin-right: 1vw;
	
}

.socialLogos {
	right: 0;
}








/* SIDEBAR */

.log {
	height: 7vh;
	display: flex;
	/* align-items: center; */
	cursor: pointer;
	fill: var(--colorMain);
}

.log svg {
	cursor: pointer;
	margin-left: 1vw;
}

.sidebar {
	background-color: rgb(5, 5, 5, 0.9);

	position: fixed;
	top: 0;
	left: -275px; /* hidden by default */
	width: 250px;
	height: 100%;
	
	padding-top: 4rem;
	padding-right: 2px;

	
	transition: left 0.4s ease;
	z-index: 1000;
	
	display: flex;
	flex-direction: column;
	gap: 1vh;
	
}

.sidebar a {
	color: var(--colorText);
  	text-decoration: none;
  	padding-left: 0.5vw;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.5rem;
	font-weight: 100;
}

.aButton {
	background-color: transparent;
	border-radius: 10px;
	padding: 0.5vh 0;
	margin: 0 0.5vw;
	transition: 0.2s;
}

.aButton:hover {
	background-color: rgba(29, 29, 29, 0.5);
	transition: 0.2s;
}


.close-btn {
	color: var(--colorMain);
	font-family: BBH;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 1.2rem;
	right: 1rem;
	cursor: pointer;
}

.log2 {
	width: 39px;
	height: 30px;
	position: absolute;
	top: 1rem;
	left: 1rem;
	cursor: pointer;
}

/* Overlay when sidebar is open */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 900;
  transition: 1s;
}

/* Show sidebar & overlay */
.sidebar.open {
  left: 0;
}

.overlay.active {
  display: block;
}

.langSwitch {
	position: absolute;
	top: 1.5rem;
	right: 1.5vw;
	display: flex;
	flex-direction: row;
}

.langSwitch div {
	margin-left: 1vw;
	cursor: pointer;
	font-family: BBH;
	color: var(--colorMain);
}

.langSwitch hr {
	margin: 0;
}






/* - BANNER - */

#bannerHR {
	background-color: var(--colorBackgroundAccent);
	border-color: transparent; 
	/* box-shadow: 0px 0px 50px 20px var(--colorBackgroundAccent); */
	margin: 0;
}

.banner {
	display: flex;
	align-items: center;
	flex-direction: column;

	justify-content: center;
 	height: 100vh;
 	overflow: hidden;
	
	/* background-image: url('img/PAGE_index/1.png'); 
 	background-size: cover;
 	background-position: center;
 	background-repeat: no-repeat; */

}

.banner h1 {
	color: var(--colorMainHighlight);
	text-shadow:
		0 0 1.5px var(--colorMain),
		0 0 1.5px var(--colorMain),
		0 0 1.5px var(--colorMain),
		0 0 1.5px var(--colorMain);
}

.banner p, .banner h3 {
	color: var(--colorMainHighlight);
	text-shadow:
		0 0 1px var(--colorMain),
		0 0 1px var(--colorMain),
		0 0 1px var(--colorMain),
		0 0 1px var(--colorMain);
}

.banner h1 {
	font-size: 10vw;
}

.banner-elements {
	text-align: center;
}

.banner-elements p {
	width: 70vw;
	text-align: center;

	margin-left: auto;
	margin-right: auto;
}

#flower1 {
	position: absolute;
	right: -2vw;
	bottom: 8vh;
	height: 25vh;
}

#flower2 {
	position: absolute;
	left: -2vw;
	bottom: 8vh;
	height: 25vh;
}











/* - ABOUT - */

#aboutMeHR {
	/* background-color: var(--colorSecond); */
	/* border-color: var(--colorSecond); */
	/* box-shadow: 0px 0px 30px var(--colorSecond); */

	/* border-color: var(--colorBackground); */
	border-color: transparent;
	margin: 0;
}

/* section */
#about {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* div */
#aboutDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 80vw;
}

/* img */
.portrait {
	margin-right: 4vw;
	width: auto;
	height: 70vh;
}

/* div */
#aboutDesc {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	height: 70vh;
	width: 55vw;
}

/* h1 */
#sowhatABOUTME2, #SOWHATaboutme1 {
	color: var(--colorSecond);
	margin: 0px;
	font-size: 6vw;
}

/* p */
#descParagraph {
	color: var(--colorText);
	margin: 0 0 1em 0;
}

/* button */
#moreAboutMe {
	color: var(--colorSecond);
	border: 2px solid var(--colorSecond);
}

#moreAboutMe:hover {
	color: var(--colorBackground);
	background-color: var(--colorText);
	border: 2px solid var(--colorText);
}














	







.insta {
	height: 35px;
	width: auto;
	}

.title {
	font-size: 4vw;
}










/* - GAMES - */

#gamesHR {
	background-color: var(--colorThird);
	border-color: var(--colorThird);

	box-shadow: 0px 0px 30px var(--colorThird);
	margin: 0;
	size: 0;
}

/* section */
#games {
	background-color: var(--colorBackgroundSecond);

	display: flex;
	justify-content: center;
	align-items: center;
}

/* div */
#gamesDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80vw;
}




/* h1 */
#titleMyGames {
	color: var(--colorThird);
	font-size: 6vw;
	margin-bottom: 2vh;
}

/* p */
#myGamesP {
	color: var(--colorText);
	margin: 0;
	
	width: 50vw;
}

/* a */
#myGamesP a {
	color: var(--colorText);
	text-decoration: underline;
	transition: 0.1s;
}
#myGamesP a:hover {
	color: var(--colorThird);
	transition: 0.2s;
}

/* Game List div */
.games {
	display: flex;
	align-items: center;
  	justify-content: center;
	flex-direction: row;
}

/* Individual Game capsules div */
.game {
	backdrop-filter: blur(0px);
	/* background-color: var(--colorBackgroundOpacity); */

	border: 0.2vw solid var(--colorText);
	border-radius: 10px;
	margin: 3vw;
	
	padding: 1vw;
	
	width: 30vw;
	height: auto;
	
	display: flex;
	align-items: center;
  	justify-content: center;
	flex-direction: column;
	
	transition: 0.5s ease;
}

.game:hover {
	backdrop-filter: blur(3px);
	border: 0.2vw solid var(--colorThird);
	transform: scale(1.01);
}

/* Game Title h3 */
.game h3 {
	color: var(--colorText);
	font-family: 'GameBoy';
	/* font-size: 2vw; */
	margin: 1vw 0 1vw 0;
	text-align: center;
}

.game p {
	color: var(--colorText);
	font-size: 1vw;
	height: 100px;
	margin: 0 0 1vw 0;
	padding: 0 0 0 0;
	overflow: hidden;
}

.game img {
	border-radius: 5px;
	
	margin-right: 15px;
	margin-right: 10px;
	
	width: auto;
	height: 100px;
}

.gameDesc {
	display: flex;
	flex-direction: row;
	margin: 0 1vw 0.5vw 1vw;
}



#gamesDiv button {
	color: var(--colorThird);
	border: 2px solid var(--colorThird);
}

#gamesDiv button:hover {
	color: var(--colorBackground);
	
  	background-color: var(--colorText);
  	border: 2px solid var(--colorText);
}











/* - PHOTOGRAPHY - */

#photographyHR {
	background-color: var(--colorFourth);
	border-color: var(--colorFourth);
	box-shadow: 0px 0px 30px var(--colorFourth);
	margin: 0;
}

/* section */
#photography {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

/* div */
#photographyDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80vw;
}


#TitleMyPhoto {
	color: var(--colorFourth);
	font-size: 6vw;
	margin: 5vw 0 2vw 3vw;
}

.photo_gallery {
	padding-left: 10vw;
	padding-right: 10vw;
	display: flex;
	align-items: center;
  	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-evenly;
}














.pic {
	border-radius: 5px;
	width: 250px;
	height: 250px;
}














.static {
	background-image: url('img/PAGE_index/gameplay.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  
	/* Add a height so the section has space to show the background */
	/* width: 100vw; */
	/* position: relative; */
	/* overflow: hidden; /* ensures nothing inside spills out */ 
	height: 100vh;
}











.txtbox {
	background-color: #280828;
	border-radius: 7px;
	border: 0.3rem solid #401828;
	box-shadow: 
		inset 0 0 0 0.3rem #f8e8a8,
        inset 0 0 0 1.2rem #e0a050,
        inset 0 0 0 2rem #401828,
        15px 15px 0 rgba(0,0,0,0.1);
	padding: 2.8rem;
	word-wrap: break-word;

	color: var(--colorText);
	font-size: 2rem;
	font-family: Earthbound;
	vertical-align: baseline;
}








/* - FOOTER - */

footer {
	background: var(--colorBackground);
	padding: 5vh 7vw 0 6vw;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 30vh;
}

/* div */
footer .links {
	color: #8d5922;
	font-size: 0.7em;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	height: 7vh;

	text-align: center;
}

/* Titles */
footer h2 {
	color: var(--colorSecond);
	font-size: 1em;
	margin: 0 0 1vh 0;

	text-align: center;
}

footer p {
	color: #543717;
	display: flex;
  	justify-content: center;
	padding-bottom: 10px;
	margin: 0px;
	font-size: 0.7em;
}

.footer_links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: auto;
}

.footer_links .column {
	padding-right: 5vw;
}

.links {
	transition: 0.2s;
}

.links:hover {
	color: var(--colorSecond);
}

#madeBy {
 	display: flex;
  	justify-content: center;
	padding-bottom: 1vh;
	margin: 0px;
	font-size: 0.7em;
	text-align: center;
}






/* - VIDEO - */

video {
	width: 80vw;
}











/* ------------------------------------------------------------ */



/* Desktop */
@media (max-width: 1440px) {

}

/* Tablet */
/* @media (max-width: 1024px) {
	
	#aboutDiv {
		background-color: #e71b1b;
	}

} */



/* Tablet vertical */
@media (max-width: 865px) {
	
	#soWhat {
		font-size: 5vw;
	}

	/* p */
	#descParagraph {
		color: var(--colorText);
		margin: 0 0 1em 0;
		font-size: 2vw;
	}

	.portrait {
		height: 60vh;
	}

}

/* Phone */
@media (max-width: 610px) {

	/* - ABOUT ME - */
	#aboutDiv {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 80vw;
	}

	#aboutDiv {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 80vw;
	}

	/* h1 */
	#soWhat {
		text-align: center;
		font-size: 10vw;
	}

	/* p */
	#descParagraph {
		color: var(--colorText);
		margin: 0 0 1em 0;
		font-size: 3.5vw;
	}

	.portrait {
		margin-right: 0px;
		margin-top: 10vh;
	}

	#aboutDiv div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#aboutDiv button {
		margin-bottom: 10vh;
		font-size: 3.5vw;
	}


	/* - GAMES - */



	/* h1 */
	#titleMyGames {
		color: var(--colorThird);
		font-size: 10vw;
		margin: 7vh 0 2vh 0;
	}

	/* p */
	#myGamesP {
		font-size: 3.5vw;
		width: 80vw;
	}

	/* Game List div */
	.games {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	/* Individual Game capsules div */
	.game {
		width: 80vw;
		border: 0.5vw solid var(--colorText);
	}

	.game:hover {
		width: 80vw;
		border: 0.5vw solid var(--colorText);
	}

	/* Game Title h3 */
	.game h3 {
		color: var(--colorText);
		font-size: 3.5vw;
		margin: 1vw 0 2vw 0;
	}

	.game p {
		color: var(--colorText);
		font-size: 1vw;
		height: auto;
		font-size: 3vw;
		margin: 0 0 1vw 0;
		padding: 0 0 0 0;
		overflow: hidden;
	}

	.game img {
		border-radius: 5px;
		
		margin-right: 15px;
		margin-right: 10px;
		
		width: auto;
		height: 30vw;
	}

	

	#gamesDiv button {
		font-size: 3.5vw;
		margin-bottom: 10vh;
	}




	/* - FOOTER - */
	footer h2 {
		font-size: 4vw;
	}

	footer .links {
		font-size: 2.5vw;
	}






}


/* ------------------------------------------------------------ */








exempleToCenter {
	display: flex;			/* Flex */
	align-items: center;		/* Vertical */
  	justify-content: center;	/* Horizontal */

}
