html, body {
 	margin: 0;
 	padding: 0;
  	width: 100%;
  	height: 100%;
}

@font-face {
	font-family: 'Earthbound';
	src: url('font/earthbound/earthbound.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;


	/* font-family: 'GameBoy';
	src: url('font/GameBoy.woff2') format('woff2');
	font-weight: normal;
	font-style: normal; */

}

body {
	margin: 0px;
	background-color: #351d1b;
	overflow-x: hidden;
	font-family: 'GameBoy','Earthbound', sans-serif;
	font-size: clamp(1rem, 2vw, 1.25rem);
	color: #b86f50;

	opacity: 1;                  /* default: visible */
  	transition: opacity 1s ease; /* fade duration */
}

body.fade-in {
  	opacity: 0;                  /* start invisible */
}

header {
	position: sticky;
	top: 0px;
	z-index: 500;
	
	background-color: #351d1b;
	box-shadow: 0px 5px 15px #241211;
	padding: 1rem;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.socialLogos img{
	vertical-align: middle;
	margin-right: 1vw;
}

section {
 	width: 100%;
}

footer {
	background-color: #291f1e;
	box-shadow: 0px 5px 30px #1a140e;
	padding-top: 2vw;
	padding-left: 6vw;
	padding-right: 7vw;
}

footer h2 {
	color: #c8771c;
	font-size: 1em;
	margin: 0;

}

footer .links {
	font-size: 0.7em;
}


footer p {
	color: #543717;
	display: flex;
  	justify-content: center;
	padding-bottom: 10px;
	margin: 0px;
	font-size: 0.7em;
}

.footer_links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 55vw;
}

.footer_links .column {
	padding-right: 5vw;
}

.links {
	color: #b86f50;
	transition: 0.2s;
}

.links:hover {
	color: #e4a672;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}




/* s sssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/

.log {
	width: 52px;
	height: 40px;
	display: flex;
	align-items: center
	cursor: pointer;
}

.log img{
	cursor: pointer;
}

/* Sidebar */
.sidebar {
	background-color: #351d1b;

	position: fixed;
	top: 0;
	left: -275px; /* hidden by default */
	width: 250px;
	height: 100%;
	
	padding-top: 4rem;
	padding-right: 2px;
	/* padding-left: 1.5rem; */
	
	transition: left 0.4s ease;
	z-index: 1000;
	
	display: flex;
	flex-direction: column;
	gap: 1rem;
	
}



.sidebar a {
  color: #b86f50;
  text-decoration: none;
  font-size: 1.5rem;
  	padding-left: 1.5rem;
}

.sidebar a:hover {
	transition: 0.2s;
	color: #e4a672;
}

.close-btn {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 1.2rem;
	right: 1rem;
	cursor: pointer;
}

.log2 {
	width: 39px;
	height: 30px;
	position: absolute;
	top: 1rem;
	left: 1rem;
}



	



/* Overlay when sidebar is open */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 900;
}

/* Show sidebar & overlay */
.sidebar.open {
  left: 0;
}

.overlay.active {
  display: block;
}

.langSwitch {
	position: absolute;
	top: 1.5rem;
	left: 3.5rem;
	display: flex;
	flex-direction: row;
}

.langSwitch div {
	padding-left: 1rem;
	color: #543717;
}

/* s sssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/

















h1 {
	color: #c8771c;
}

a {
	margin: 0;
	padding: 0;
	color: #c8771c;
	text-decoration: none;
}


.yellow {
	color: #c8771c;
}


.banner {
  position: relative; /* crucial for absolute children */
  width: 100vw;
  height: auto; /* or a fixed height, e.g. 60vh */
  overflow: hidden;
}

.banner img {
	width: 100vw;
	height: auto;
}

.banner h1 {
	color: #e9dfdd;
	margin: 0;
	font-size: 5vw;
	
}

.banner p {
	font-size:1vw;
}

.banner-elements {
	
	position: absolute;
	top: 45%;
	left: 35%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: left;
	z-index: 3;
}







.drunk {
	margin-top: 50px;
	max-width: 100%;
  	height: auto;
}


#soWhat {
	margin: 0px;
	font-size: 2em;
	padding-right: 8vw;
}

#descParagraph {
	margin: 0 0 1em 0;

}

.border_centered {
	margin: 70px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 70px;
	display: flex;
	align-items: center;
	flex-direction: row
}

.portrait {
	margin: 0 4vw 3vw 4vw;
}

p {
	color: #b86f50;
	font-size: 1em;
	padding-right: 50px;
	text-align: justify;
}

.rightside {
	position: relative;
	bottom: 40px;
	/* padding-left: 4vw; */
	/* padding-right: 1vw; */
}







button {
	color: #c8771c;
	background-color: #351d1b;
	border: 2px solid #c8771c;
	font-family: 'Earthbound', sans-serif;
  	padding: 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	margin: 4px 2px;
  	cursor: pointer;
  	border-radius: 30px;
	transition: 0.2s;
}

button p {
	color: #c8771c;
	padding-right: 0px;
	margin: 0px;
}

button:hover {
	color: #241211;
  	background-color: #d3c2ab;
  	border: 2px solid #d3c2ab;
}

button:hover p {
	color: #351d1b;
}
	








b {
	color: #e4a672;
}



.insta {
	height: 35px;
	width: auto;
	}

.title {
	font-size: 4vw;
}










/* MY GAMES  MY GAMES  MY GAMES */

#games {
	background-color: #291f1e;
	padding: 5vw 0 10vw 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#games h3 {
	color: #c8771c;
}

#games button {
	background-color: #291f1e;
}

#games button:hover {
	background-color: #d3c2ab;
}




#myGamesP {
	margin: 0;
	padding: 0 5vw 3vw 5vw;
	width: 50vw;
}



.games {
	display: flex;
	align-items: center;
  	justify-content: center;
	flex-direction: row;
	/* flex-wrap: wrap; */
	/* flex-flow: row wrap; */
	/* justify-content: space-evenly; */
}







.game {
	/* background-color: #252525; */
	border: 0.2vw solid #b86f50; /* thickness, style, and color */
	border-radius: 10px;
	margin: 3vw;
	
	padding: 1vw;
	
	width: 30vw;
	height: auto;
	
	display: flex;
	align-items: center;
  	justify-content: center;
	flex-direction: column;
	
	transition: 0.5s ease;
}

.game:hover {
	border: 0.2vw solid #c8771c;
	transform: scale(1.01);
	/* border: 2px solid #e4a672; /* thickness, style, and color */ */
	/* border-radius: 10px; */
	
	/* padding: 1vw; */
	
	/* width: 25vw; */
	/* display: flex; */
	/* align-items: center; */
  	/* justify-content: center; */
	/* flex-direction: column; */
}

.game h3 {
	font-size: 2vw;
	margin: 1vw 0 1vw 0;
}

.game p {
	font-size: 1vw;
	height: 100px;
	margin: 0 0 1vw 0;
	padding: 0 0 0 0;
	overflow: hidden;
}

.game img {
	border-radius: 5px;
	
	margin-right: 15px;
	margin-right: 10px;
	
	width: auto;
	height: 100px;
}

.gameDesc {
	display: flex;
	flex-direction: row;
	margin: 0 1vw 0.5vw 1vw;
}




/* MY PHOTOGRAPHY */

#photography {
	padding-bottom: 7vw;
	/* display: flex; */
	/* align-item: center; */
	/* justify-content: center; */
	/* flex-direction: column; */
}

#TitleMyPhoto {
	font-size: 2.5vw;
	margin: 5vw 0 2vw 3vw;
}

.photo_gallery {
	padding-left: 10vw;
	padding-right: 10vw;
	display: flex;
	align-items: center;
  	justify-content: center;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.polaroid {
	background-color: #b8aa9e;
	display: flex;
	flex-direction: column;
	padding: 1vw 1vw 1vw 1vw;
	margin: 0.5vw 0.5vw 1.5vw 0.5vw;
	box-shadow: 8px 12px 7px rgba(0, 0, 0, 0.5);
}

.polaroid h5 {
	margin: 1vw 0 0 0.5vw;
	color: #725747;
}

.pic {
	border-radius: 5px;
	width: 250px;
	height: 250px;
}

#img_see_more {
	transition: 0.5s;
}

#img_see_more:hover {
	transform: scale(1.02);
}














.static {
	background-image: url('img/PAGE_index/gameplay.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  
	/* Add a height so the section has space to show the background */
	/* width: 100vw; */
	/* position: relative; */
	/* overflow: hidden; /* ensures nothing inside spills out */ 
	height: 100vh;
}
















/* ------------------------------------------------------------ */



/* Desktop */
@media (max-width: 1440px) {

}

/* Tablet */
@media (max-width: 1024px) {
	
	.border_centered {
		margin: 70px;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-top: 70px;
		display: flex !important;
		align-items: center !important;
		flex-direction: column !important;
	}
	
	/* .rightside { */
		/* position: relative; */
		/* bottom: 40px; */
		/* padding-left: 0px; */
		/* padding-right: 0px; */
	/* } */
	
	.portrait {
		padding-bottom: 6vw;
	}

	.footer_links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-right: 50vw !important;
	}
	
	.banner img {
		width: 150vw;
		height: auto;
		transform: translateX(-35vw);
	}
	
	
	
	/* MY GAMES */
	
	.game img {
		border-radius: 5px;
	
		margin-right: 15px;
		margin-right: 10px;
		
		width: auto;
		height: 75px;
	}
	

	
	
	
	
	
	
	
	#TitleMyPhoto {
		font-size: 4vw;
	}


}

/* Phone */
@media (max-width: 600px) {

	.border_centered {
		margin: 70px;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-top: 70px;
		display: flex !important;
		align-items: center !important;
		flex-direction: column !important;
	}
	
	.portrait {
		padding-bottom: 0vw;
	}

	/* .rightside { */
		/* position: relative; */
		/* bottom: 40px; */
		/* padding-left: 0px; */
		/* padding-right: 0px; */
	/* } */

	p {
		font-size: 1em;
		padding-right: 0px;
		margin: 0px;
		text-align: justify;
	}

	.logo {
		height: 35px !important;
		width: auto;
	}

	.insta {
		height: 30px;
		width: auto;
	}

	.footer_links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-right: 34vw !important;
	}
	
	.banner img {
		width: 300vw;
		height: auto;
		transform: translateX(-150vw);
	}
	
	.banner p {
		font-size: 2.3vw;
	}
	
	.banner h1 {
	color: #e9dfdd;
	margin: 0;
	font-size: 9vw;
	}

	.banner-elements {
		position: absolute;
		top: 45%;
		left: 35%;
		transform: translate(-50%, -50%);
		color: white;
		text-align: left;
		z-index: 3;
	}
	
	#soWhat {
		font-size: 6vw;
		padding-top: 7vw;
	}
	
	/* .portrait { */
		/* height: 80vw; */
		/* width: auto; */
	/* } */
	
	
	
	
	
	
	#TitleMyPhoto {
		font-size: 7vw;
	}
	
	
	
	
	
	.polaroid {
		background-color: #b8aa9e;
		display: flex;
		flex-direction: column;
		padding: 1vw 1vw 1vw 1vw;
		margin: 0.5vw;
	}

	.polaroid h5 {
		margin: 1vw 0 0 0.5vw;
		color: #725747;
	}
	
	.pic {
		margin: 0.5vw;
		border-radius: 10px;
		width: 120px;
		height: 120px;
	}
	


		
	
	
	
	
	
	
	
	
	/* MY GAMES */
	
	#games h1 {
		font-size: 1.7em;
		margin: 4vw 0 2vw 0;
	}
	
	.games {
		display: flex;
		flex-direction: column;
	}
	
	.gameDesc {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	
	
	.game {
		width: 70vw;
		height: auto;
	}
	
	.game h3 {
		font-size: 4vw;
	}
	
	.game img {	
		width: auto;
		height: 100px;
		padding-bottom:15px;
	}
	
	.game p {
		height: auto;
		font-size: 2.7vw;
	}
	
	
	

	




}


/* ------------------------------------------------------------ */









exempleToCenter {
	display: flex;			Flex
	align-items: center;		Vertical
  	justify-content: center;	Horizontal
}